*{
    margin: 0;
    padding: 0;
}

.page{
   width:100 ;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
   background: transparent;
   border-radius: 10px;
    width: 30vw;
   height: 70vh;
   border: 2px solid rgb(211, 208, 208);
   backdrop-filter:blur(20px);
   color: #162938;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2vh;
   
}
.toggle{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(21, 21, 140);
   display: inline;
}
.box1{
   height: 8vh;
   display: flex;
   align-items:flex-end;
 
}
.box{
    display: flex;
    flex-direction: column;
    justify-content:left;
    width: 70%;
    /* border: 2px solid red; */
}
label{
    font-size: 1rem;
    font-weight: 600;
}
.input{  
border: 0px ;
border-bottom: 2px solid  #162938;
height: 5vh;
background-color: transparent;
font-size: 15px;
}
.input:focus{  
   outline: none;
   background-color: transparent;
   
}
.button{
    height: 5vh;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #162938;
    color: white;
    font-weight: 500;

}

/* #######################################*/

.dashbord{
    position: absolute;
    top: 0;
    background-color: red;
    width: 100%;
}
.navbar{
    width: 100%;
    height: 12vh;
    position:fixed;
    top: 0px;
    background-color:#162938;
}
.home{
    color: black;
    text-shadow: 2px 2px 1px #e7cd2c
}
.loginsinup-btn{
    position: absolute;
    right:2vw;
    top: 30%;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid rgb(201, 255, 94);
}